*{
    background-color: lightcyan;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;
}

.logo-challenge{
    margin-left: 10px;
    padding-top: 10px;
    width: 2%;
}

main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}

.text-area{
    resize: none;
    border: none;
    border-radius: 30px;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{color: #0A3871;}
    .text-area:focus{
        outline: none;
    }

    .mensagem{
        resize: none;
        background: white;
        background-image: url(/imagens/boneco.png);
        background-repeat: no-repeat;
        background-position: center bottom 78px;
        border: none;
        border-radius: 24px;
        color: #0A3871;
        margin-left: 90px;
        margin-top: -10px;
        padding: 20px;
        position: fixed;
    }

.mensagem:focus{
    outline: none;
}

.botoes{
    display: flex;
    margin-top: 18px;
}

.botao-encriptar{
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 60px;
    width: 320px;
}

.botao-desencriptar{
    background-color: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 60x;
    margin-left: 37px;
    width: 320px;
}

.botao-copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 60px;
    margin-left: 118px;
    margin-top: 408px;
    position: absolute;
    width: 320px;
}

.orientacao{
    color: #495057;
}

.orientacao h6{
    font-size: 18px;
}